auto lo
iface lo inet loopback

auto {{ physical_nic }}
iface {{ physical_nic }} inet manual

auto vmbr0
iface vmbr0 inet manual
        bridge-ports {{ physical_nic }}
        bridge-stp off
        bridge-fd 0
        bridge-vlan-aware yes
        bridge-vids 10 20 30

auto vmbr0.10
iface vmbr0.10 inet static
        address {{ management_ip }}/24
        gateway 10.0.10.1
